<%- include('partials/head') %>
<main id="toplist">
<h1>Best and Worst</h1>
<section class="pos">
  <a href="/coin/<%=maximum.abbreviation%>">
<h2><%=maximum.abbreviation%></h2>
<h3><%=maximum.day%></h3>
<p>
  That's the best percentage gain in the last 24 hours. <br> The price of <%=maximum.abbreviation%> is now: <span>€<%=maximum.price%></span>.
    </p></a>
</section>
<section class="neg">
  <a href="/coin/<%=minimum.abbreviation%>">
<h2><%=minimum.abbreviation%></h2>
<h3><%=minimum.day%></h3>
<p>
  That's the worst percentage loss in the last 24 hours. <br> The price of <%=minimum.abbreviation%> is now: <span>€<%=minimum.price%></span>.
    </p></a>
</section>
</main>
<%- include('partials/footer') %>
