<%- include('partials/head') %>
<main id="detail">
<h1><%= abbreviation %></h1>
<section>
  <h2>Last 24 hours</h2>
  <table>
   <tr>
      <th>Date</th><th>Price in euro</th>
   </tr>
   <% graphPoints.hour.map(hour => {  %>
     <tr>
       <td><%= hour.t %></td>
       <td><%= hour.y %></td>
    </tr>
   <%})%>
</table>
<h2>Last 7 days</h2>
<table>
 <tr>
    <th>Date</th><th>Price in euro</th>
 </tr>
 <% graphPoints.week.map(week => {  %>
   <tr>
     <td><%= week.t %></td>
     <td><%= week.y %></td>
  </tr>
 <%})%>
</table>
<h2>Last 30 days</h2>
<table>
 <tr>
    <th>Date</th><th>Price in euro</th>
 </tr>

 <% graphPoints.day.map(day => {  %>
   <tr>
     <td><%= day.t %></td>
     <td><%= day.y %></td>
  </tr>
 <%})%>
</table>
</section>
</main>
<script>
  window.onload = function() {
  let graphPoints = <%- JSON.stringify(graphPoints) %>;
    chart(graphPoints.day, "30 days", "month");
      chart(graphPoints.week, "7 days", "week");
  chart(graphPoints.hour, "24 hours", "day");

  function chart(coin, time, id){
    let sectionElement = document.getElementsByTagName("section")[0],
      canvas = document.createElement("canvas"),
      canvasID = "canvas" + id,
      header = document.createElement("h2");
    header.innerText = "Last " + time;
    canvas.setAttribute("id", canvasID);
    sectionElement.insertAdjacentElement('afterbegin',canvas);
            sectionElement.insertAdjacentElement('afterbegin',header);
            
    let timeArray = coin.map(coin => {
      return coin.t;
    });
    let ctx = document.getElementById(canvasID).getContext("2d");
    let chart = new Chart(ctx, {
      type: "line",
      data: {
        labels: timeArray,
        datasets: [
          {
            borderDash: [5, 5],
            pointRadius: 5,
            pointHoverRadius: 10,
            borderColor: "goldenrod",
            data: coin
          }
        ]
      },

      options: {
        legend: {
          display: false
        },
        xAxes: [
          {
            type: "time",
            distribution: "series",
            time: {
              unit: "day",
              displayFormats: {
                quarter: "MMM D"
              }
            },
            scaleLabel: {
              display: true,
              labelString: "Date"
            }
          }
        ],
        scales: {
          yAxes: [
            {
              ticks: {
                callback: function(value, index, values) {
                  let fixed = value.toFixed(2);
                  return "€" + fixed;
                }
              }
            }
          ]
        }
      }
    });
  }}
  </script>
  <script defer src="/js/chart.min.js"></script>
<%- include('partials/footer') %>
